.action-button {
    width: 90px;
    border-color: var(--ll-green);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 10px;
    color: var(--ll-dark-green);
    background-color: var(--ll-lighter-green);
    margin: 0 10px 0 10px;
    box-shadow: 2px 2px 1px 1px var(--ll-light-green);
}

.action-button:hover {
    background-color: white;
    box-shadow: 1px 1px 1px 1px var(--ll-light-green);
}

.action-button:active {
    box-shadow: 0 0;
}