button.action-button {
    border-color: var(--ll-green);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 10px;
    color: var(--ll-dark-green);
    background-color: white;
    margin: 0 10px 0 10px;
    box-shadow: 2px 2px var(--ll-light-green);
}