.price-symbol {
    color: var(--ll-dark-gray);
    font-weight: bold;
    font-size: small;
}

.price-value {
    color: var(--ll-light-gray);
    font-weight: normal;
    font-size: small;
}

.price-size-l {
    font-size: large;
}