.shop-title {
    text-align: center;
    font-size: xx-large;
    margin: 20px 0 0 0;
    color: var(--ll-dark-green);
}

.product-panel {
    display: inline-block;
    vertical-align: top;
    width: 65%;
}

.basket-panel {
    display: inline-block;
    width: 35%;
    position: sticky;
    top: 0;
}