.basket-item {
    list-style-type: none;
    margin: 5px 0 5px 0;
}

.basket-item-name {
    font-weight: bold;
    color: var(--ll-dark-green);
}

.basket-item-type {
    color: var(--ll-dark-gray);
}